{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block navbar %}
	{% include '/components/_navbar.html.twig' %}
{% endblock %}

{% block body %}

<h1>Bonjour {{ user.email}}, et bienvenue sur votre compte</h1>


<h2>Je n'ai rien à vous dire de plus</h2>

{% endblock %}