{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<div class="bg-warning">
<h1 class="text-center">Bienvenue sur la page d'accueil du site</h1>
</div>
{% endblock %}